

@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css'); */
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap'); */

@font-face{
    font-family:  'Noto Sans KR';
    src: url('../font/NotoSansCJKkr-Regular.otf');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   css rest 코드 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Noto Sans KR';
    letter-spacing: -1.2px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap{
    position: relative;
    padding:0px;

  }
  a{
    text-decoration: none;
    color:black;
  }
  a:hover{
    color:brown;
  }

  b{
      font-weight: bold;
  }

/* 기본 및 휴대폰 */

.background{
    background-color:white;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 550px;
    padding-top:10%;
  }

.header-top{
    padding-top: 15px;
    padding-bottom:15px;
    transition:0.3s;
    background-color:white;
    border-bottom: 1px #e1e1e1 solid;
}

.header-top a{
    color:#2e2e2e;
}

.header-shrink{
    color:black;
    background-color:white;
    padding-top: 10px;
    padding-bottom:10px;
    transition: 0.3s;
    border-bottom: 1px #e1e1e1 solid;
}


#footer{
    background-color:#666666;
}

#footer div{
    font-size:75%;
    color:#ffffff9d;
}


section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
}

section>div h1,h2,h3,h4,h5,h6,p,a{
    padding-top:5px;
    padding-bottom:5px;
}

section>div p,a{
    width:100%;
    word-break:break-all;
}

section>div h1{
    text-align: center;
    font-size:2.5rem;
}

section>div h3{
    font-size:1.5rem;
    text-align:center;
}

.kakao-icon{
    padding:3px 10px;
     margin:30px 20px; 
     background-color:#fae100;
}

.kakao-icon img{
    margin:0px;
    padding:0px; 
    float:left;
    width:30px;
}

.kakao-icon span{
    float: left;
    margin-top:5px;
    font-size:0.8rem;
}

/* index.html말고 다른부분 < 첫 화면 클래스가 main-content */


.main-content{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 100vh;
}

.main-content button{
    margin:30px;

}

.mainlogo{
    margin:20px;
}


#p1{
    font-size:1.3rem;
}

.main-text{
    text-align: left;
    padding-top:20px;
    padding-bottom:30px;
}

/*긴 모바일*/
@media (min-height:700px){

    .mainlogo {
        margin-top:0px;
        margin-bottom:60px;
    }
    .mainlogo img{
        width:180px;
    }

    #p1{
        font-size:1.5rem;
    }
    #p2{
        font-size:1.3rem;
    }
    
}



/* 태블릿 */
@media (min-width:768px){
    .header-top{
        padding-top: 25px;
        padding-bottom:25px;
    }

    .main-content{
        margin-top:5%;
    }

    .mainlogo {
        margin-top:0px;
        margin-bottom:100px !important;
    }
    .mainlogo img{
        width:230px !important;
    }

    #p1{
        font-size:1.7rem !important;
    }
    #p2{
        font-size:1.7rem !important;
    }
    #big-container{
        width:95%;
        padding-left:auto;
        padding-right:auto;
    }
    

}
/* 아이패드프로? */
@media (min-width:980px)and (max-width:1140px){


    .header-top{
        /* padding-top: 25px;
        padding-bottom:25px; */
        font-size:1.1rem;
    }

    .main-content{
        margin-top:3%;
    }

    #p1{
        font-size:2rem !important;
    }
    #p2{
        font-size:2rem !important;
    }

}

/* 데스크톱 */
@media (min-width:1140px){
/* 
    .header-top{
        padding-top: 25px;
        padding-bottom:25px;
        font-size:1.1rem;
    }

    .main-content{
        margin-top:3%;
    } */

    .mainlogo{
        float:right;
        padding-top: 40px;
        padding-right:5%;
    }

    .main-text{
        float:left;
        padding-left:5%;
    }
}

