

@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
/* 
@font-face{
    font-family:  'Noto Sans KR';
    src: url('../font/NotoSansCJKkr-Regular.otf');
} */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   css rest 코드 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    
  scroll-behavior: smooth;
}
body {
    line-height: 1;
    font-family: 'Noto Sans KR';
    letter-spacing: -1.2px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap{
    position: relative;
    padding:0px;

  }
  a{
    text-decoration: none;
    color:black;
  }
  a:hover{
    color:brown;
  }

  b{
      font-weight: bold;
  }

/* 기본 및 휴대폰 */

.background{
    background-color:white;
    background-position: center;
    background-size: cover;
    height: 90vh;
    min-height: 550px;
    padding-top:10%;
  }

.header-top{
    padding-top: 15px;
    padding-bottom:15px;
    transition:0.3s;
    background-color:white;
    border-bottom: 1px #e1e1e1 solid;
}

.header-top a{
    color:#2e2e2e;
}

.header-shrink{
    color:black;
    background-color:white;
    padding-top: 10px;
    padding-bottom:10px;
    transition: 0.3s;
    border-bottom: 1px #e1e1e1 solid;
}


#footer{
    background-color:#666666;
}

#footer div{
    font-size:75%;
    color:#ffffff9d; 
}
#footer div a{
    color:#ffffff9d; 
}


section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
}

section>div.relay{
    min-height: 100px;
}

section>div h1,h2,h3,h4,h5,h6,p,a{
    padding-top:5px;
    padding-bottom:5px;
}

section>div p,a{
    width:100%;
    word-break:break-all;
}

.kakao-icon{
    padding-bottom:30px;
}
.kakao-icon button{
    padding:3px 10px;
     background-color:#fae100;
     border:none;
}

.kakao-icon img{
    margin:0px;
    padding:0px; 
    float:left;
    width:30px;
}

.kakao-icon span{
    float: left;
    margin-top:5px;
    font-size:0.8rem;
}


.mainlogo{
    margin:20px;
}


#p1{
    font-size:1.3rem;
}

.main-text{
    text-align: left;
    padding-top:20px;
    padding-bottom:30px;
}

#relay #big-container{
    padding-top:100px;
}

#relay #big-container img{
    width:70%;
}

#big-container-2{
    padding-top:10%;
}

#p3{
    font-size:1.7rem;
    font-weight: bold;
    padding-bottom:10px;
}
#p4{
    font-size:1.2rem;
    padding-bottom:50px;
}


/*긴 모바일
@media (min-height:750px){

    .mainlogo {
        margin-top:0px;
        margin-bottom:60px;
    }
    .mainlogo img{
        width:180px;
    }

    #p1{
        font-size:1.5rem;
    }
    #p2{
        font-size:1.3rem;
    }
    
}
*/

/* 태블릿 */
@media (min-width:768px){
    .header-top{
        padding-top: 25px;
        padding-bottom:25px;
    }


    .mainlogo {
        margin-top:0px;
        margin-bottom:100px !important;
    }
    .mainlogo img{
        width:230px !important;
    }

    #p1{
        font-size:1.7rem !important;
    }
    #p2{
        font-size:1.7rem !important;
    }
    #big-container{
        width:95%;
        padding-left:auto;
        padding-right:auto;
    }
    #big-container-2{
        width:80%;
        padding-top:20%;
        padding-left:auto;
        padding-right:auto;
    }
    

}
/* 아이패드프로? */
@media (min-width:980px)and (max-width:1140px){


    .header-top{

        font-size:1.1rem;
    }

    #p1{
        font-size:2rem !important;
    }
    #p2{
        font-size:2rem !important;
    }

}

/* 데스크톱 */
@media (min-width:1140px){

    .mainlogo{
        float:right;
        padding-top: 40px;
        padding-right:5%;
    }

    .main-text{
        float:left;
        padding-left:5%;
    }

        
    #big-container-2{
        padding-top:8%;
        padding-bottom:12%;
    }

    #p3{
        font-size:2.2rem;
        font-weight: bold;
        padding-bottom:30px;
    }
    #p4{
        font-size:1.6rem;
        padding-bottom:50px;
    }

    .leftside{
        float:left;
        text-align: left;
        padding-top:10%;
        
    }
    .rightside{
        float:right;
    }
    .rightside img{
        width:430px;
    }


    #relay #big-container{
        padding-top:200px;
        text-align: center;
    }
    
    .relaytable-left{
        position: relative;
        display:inline-block;
    }
    #relay #big-container img{
        position: relative;
        top:15px;
        width:400px;
    }

    .relaytable-right{
        display:inline-block;
        padding-left:10%;
        padding-bottom:50px;
    }

    .relay #big-container div p{
        font-size:1.2rem;
    }

    .img1{
        width:100px !important;
    }
    .img2{
        width:250px !important;
    }

}


@media (min-width:1140px)and (max-width:1290px){

    .rightside img{
        width:330px;
    }
}

/*전체화면*/
@media (min-width:1440px){

    .main-text{
        padding-left:10%;
    }

    .leftside{
        padding-left:10%;
        
    }
    
}